body{
   font-family: 'Aladin', sans-serif;
   background-image: url("../images/interlaced.png");
}

div#hobbies {
    width: 45%;
    position: relative;
    float: left;
    padding: 50px;
}

a {
    display: inherit;
    float: left;
    color: lightseagreen;
}

h3 {
    color: lightseagreen;
    text-decoration-line: underline;
}

div#education_header {
    position: relative;
    width: 90%;
    padding: 50px;
}

.portfolio_wrapper {
    display: block;
    padding: 10px 0px 5px 0px;
    position: relative;
}

h1.Headers {
    position: inherit;
    text-align: right;
    padding-right: 20px;
}

.image_wrapper{
  width:100%;
  height: auto;
  background-size: cover;
}

.education_div {
    width: 50%;
    display: block;
    float: left;
    padding: 5px;
    border-style: none solid none none;
}

.working_div {
    padding-left: 6px;
    position: relative;
    width: 48%;
    float: left;
}

.about_wrapper h2 {
    text-align: center;
}

.about_wrapper {
    width: 100%;
    height: auto;
    padding: 0px;
    text-align: center;
    padding: 20px;
    position: relative;
    float: left;
}

p {
    text-align: left;
    padding: 2px;
    line-height: inherit;
}

.hobbies_wrapper li {
    list-style: circle;
}

.working_div ol {
    text-align: left;
}

.moringa_wrapper {
    width: 50%;
    float: left;
    padding: 5px;
    border-top: solid;
    border-right: solid;
}

.hobbies_wrapper {
    width: 48%;
    float: left;
    border-top: solid;
}

.hobbies_wrapper li {
    text-align: left;
    padding-left: 40%;
}

.moringa_div {
    width: 48%;
    display: block;
    float: left;
    padding: 5px;
    border-style: none solid none none;
}

.hobbies_div {
    width: 48%;
    display: block;
    float: left;
    padding: 5px;
    border-style: none solid none none;
}

h1#Projects {
    text-align: right;
    color: white;
    padding-bottom: 10%;
    padding-top: 20%;
}

.projects_wrapper{
  width:100%;
  background-image: url("../images/projects_layout.png");
  background-size: cover;
  padding-top: 20px;
  float: left;

}

.contact_me {
    display: flex;
    justify-content: center;
    padding: 10px;
}

img.social_icons {
    padding: 5px 10px 5px 10px;

}

.column {
    width: 28%;
    float: left;
    padding: 30px;
    margin-right: 10px;
    min-height: 150px;
}

.image_wrapper h1{

  font-family: inherit;
  font-size: 70px;
  margin-top: -10%;
  padding-top: 25%;
  letter-spacing: 2px;
  font-weight: 100px;
}

.projects_wrapper h1{

  font-family: inherit;
  font-size: 70px;
  margin-top: -10%;
  padding-top: 25%;
  letter-spacing: 2px;
  font-weight: 100px;
}

.hobbies_wrapper h1{

  font-family: inherit;
  font-size: 70px;
  margin-top: -10%;
  padding-top: 25%;
  letter-spacing: 2px;
  font-weight: 100px;
}

.about_wrapper h1{

  font-family: inherit;
  font-size: 70px;
  margin-top: -10%;
  padding-top: 25%;
  letter-spacing: 2px;
  font-weight: 100px;
}

.name{
font-weight: lighter;
}
.tag{
  color: #e5640d;
}

.image_wrapper h1,h2{
  text-align: left;
  padding-bottom: 0px;


}
.image_wrapper h2{

  text-transform: uppercase;
  font-size: 15px;
}
h2#traveller {
    padding-bottom: 70px;
}

.image_wrapper p{

  text-align: center;
  padding-bottom: 15%;
  font-style: italic;
  font-weight: bold;
  width:40%;
  margin-left: 30%;
}
.projects{
  padding-bottom: 8%;
}
.projects h1{
text-align: center;
}
.projects a{
  color:#e5640d;
}
.projects ul li{
  float: left;
  margin-left: 9%;
  list-style: none;
}

@media screen and (min-width: 480px) {
}